@import "footer.css";
@import "stani_del.css";

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Manrope", "Roboto", sans-serif;
}

header {
	position: absolute;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

header .header_opacity {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	display: flex;
	align-items: center;
}

header .container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	height: 50px;
}

header ul {
	list-style: none;
}

header ul li {
	display: inline-block;
	padding: 0 30px 0 30px;
}

header ul li:nth-child(5) {
	padding-right: 0;
}

header ul li:nth-child(1) {
	padding-left: 0;
}

header ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}

.container {
	width: 80%;
	margin: 0 auto;
	z-index: 1;
}

.showcase {
	background: url("../images/photo-of-people-talking-to-each-other-3182739.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	height: 60vh;
	display: flex;
	align-items: center;
}

.showcase .opacity {
	background-color: rgba(0, 0, 0, 0.5);
	height: 60vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.showcase h1 {
	text-align: center;
	color: #ffffff;
	font-size: 50px;
	font-weight: 800;
	line-height: 80px;
}

.blue_line {
	width: 150px;
	height: 5px;
	border-radius: 5px;
	background-color: #2181ef;
}

.za_semos {
	margin-top: 100px;
}

.za_semos .wrapper {
	height: 450px;
	display: flex;
	justify-content: space-between;
	background-color: #f5f5f5;
}

.za_semos .left {
	width: 50%;
	padding: 30px;
	box-sizing: border-box;
}

.za_semos .left h3 {
	font-size: 30px;
	margin-bottom: 10px;
	color: #212121;
}

.za_semos .left p {
	font-size: 16px;
	margin-top: 10px;
	color: #212121;
}

.za_semos .right {
	width: 50%;
	background: url("../images/za_semos.png");
	background-position: center right;
	background-size: cover;
}

.dostignuvanja {
	background-color: #f5f5f5;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.dostignuvanja h2 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
	color: #212121;
}

.dostignuvanja .blue_line {
	margin: 0 auto;
}

.dostignuvanja .dostignuvanja_grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	row-gap: 50px;
}

.dostignuvanja article {
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	min-width: 250px;
	max-width: 350px;
}

.dostignuvanja article .pic {
	width: 160px;
	margin: 0 auto;
	filter: invert(10%);
}

.dostignuvanja article .pic .icon {
	font-size: 150px;
}

.dostignuvanja article h3 {
	font-weight: 800;
	font-size: 30px;
	margin-top: 20px;
	color: #212121;
}

.dostignuvanja article p {
	font-size: 16px;
	color: #212121;
}

.tim {
	margin-top: 100px;
}

.tim h2 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
	color: #212121;
}

.tim .blue_line {
	margin: 0 auto;
}

.tim .people_grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 50px;
	column-gap: 60px;
}

.tim .people_grid .person {
	text-align: center;
}

.tim .person .img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto;
}

#dimitar {
	background: url("../images/predavaci/dimitar.png");
	background-position: center center;
	background-size: cover;
}

#dejan,
#martin {
	background: url("../images/rakovoditel.png");
	background-position: center center;
	background-size: cover;
}

.tim .person h3 {
	font-weight: 800;
	font-size: 30px;
	margin-top: 20px;
	color: #212121;
}

.tim .person p {
	font-size: 16px;
	color: #212121;
}
